Django
gunicorn

celery
django-autoslug
django-cors-headers
django-filter
django-simple-history
django-phonenumber-field
django-versatileimagefield
django-dirtyfields
djangorestframework
djangorestframework-simplejwt
django-redis

python-dotenv
google-api-python-client-stubs

mysqlclient
mysql-connector-python
gunicorn

icecream
flower
flake8
drf-spectacular
django-debug-toolbar